* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}

hr {
    border: 2px black solid;
    margin: 20px 740px 0px 20px;
}

/*section-1*/
.hero-section {
    padding: 0px;
    width: 100%;
    height: 100vh;
    border: none;
    background: url('image/hero-theme.png');
    color: #fff;
}


.logo1 {
    justify-content: flex-start;
    margin: 10px 550px 0px 0px;
}

.logo-img {
    padding-left: 0%;
    width: 65px;
    height: 65px;
}

a {
    color: #2D2C2E;
    padding-top: 22px;
    margin-right: 30px;
    text-decoration: none;
    font-size: 22px;
}

p {
    margin: 0px;
    padding-left: 28px;
    padding-top: 0px;
}

.top-section {
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: flex-end ;
    width: 100%;
    height: 80px;
}

/*section {
    margin: 0px;
    padding: 0px;
    border: 1px;
    border-style: solid;
    border-color: black;
    display: flex;
} */

/*hero*/
.hero {
   /*margin-left: 40px;*/
   padding-top: 200px;
   height: 100vh;
   width: 950px;
   border:none
}

.hero h1 {
    font-weight: 700;
    font-size: 45px;
    text-align: center;
    padding: 0px;
}

.hero h2 {
    padding: 0px 0px 0px 40px;
}

.hero h3 {
    padding: 0px 0px 0px 40px;
}

.hero p {
    padding: 0px 0px 0px 40px;
}

.hero button {
    margin: 20px 0px 0px 40px;
    border-radius: 30px;
    border: none;
    padding: 8px;
    background-color: #fff;
}

.hero a {
    padding-left: 10px;
    padding-right: 0px;
    font-size: 18px;
    align-items: center;
    color: black;
}

.hero-btn {
    color: white;
    background-color:#2D2C2E;
    border:none;
    padding: 10px;
    margin-top: 15px;
    margin-right: 20px;
    border-radius: 25px;
    transition: 1s;
    width: 80px;
    height: 40px;
}

.hero-btn1 {
    width: 180px;
}

.hero-btn:hover {
    transform: scale(1.2);
}

/*SECTION-1 RESPONSIVE*/
@media (max-width: 640px) {
    .hero-section {
        position: absolute;
        height: auto;
        background-color: #111;
        background-image: none;
    }
    .top-section {
        position: absolute;
        margin: 0px;
        padding: 0px;
    }
    .logo1 {
        position: relative;
        left: 50px;
        align-items: start;
        width: 24px;
        height: 24px;
    }
    .top-section a {
        display: none;
    }
    .top-section .btn-res {
        align-items: end;
        padding: 4px 30px 4px 30px;
        text-align: center;
    }

    .top-section .hero-btn1 {
        display: none;
    }
    .hero {
        position: relative;
        top: 200px;
        right: 5px;
        align-items: baseline;
    }
    .hero h2 {
       display: none;
    }
    .hero h1 {
      display: none;
    }
    .hero h3 {
        font-size: 28px;
    } 
    .hero p {
        font-size: 10px;
    }
}

/*section-2*/
.container {
    justify-content: space-around;
    background-color: #fff;
    border: none;
    padding-left: 120px;
    width: 100%;
}

.prod {
    padding-left: 600px;
}

.cards {
    background-color: #2D2C2E;
    color: #fff;
    display: inline-block;
    margin: 30px;
    padding: 0px;
    border-radius: 7px;
    width: 250px;
    height: 370px;
    box-shadow: 4px 4px 10px black;
    transition: 1s;
}


.cards:hover {
    transform: scale(1.1);
}

.image img {
    width: 250px;
    height: 160px;
    border-radius: 7px 7px 0px 0px;
}

.title {
    text-align: center;
}

.des {
    text-align: center;
}

.order-btn {
    margin-top: 15px;
    border: 1px solid black;
    padding: 10px;
    border-radius: 10px;
    background-color: #FFBE00;
    transition: 1s;
}

.order-btn:hover {
    background-color: red;
    color: black;
    transition: 0.5s;
}

/*SERVICES-SECTION-3*/
.service-section {
    background-color: #FFBE00;
    height: 700px;
    width: 100%;
}

.serv-head {
    padding: 20px 0px 0px 0px;
    height: 60px;
    margin: 20px 0px 0px 720px;
}

.serv-head h3 {
    font-size: 30px;
}

.servi {
    margin: 0px 0px 0px 0px;
    padding: 0px;
    display: flex;
    justify-content: space-around;
}

.serv {
    height: 600px;
    width: 800px;
    padding: 10px 0px 0px 0px;
    display: flex;
    flex-wrap: wrap;
    margin-left: 50px;
}

.serv-box {
    margin: 10px 0px 0px 0px;
    padding: 0px;
    width: 350px;
    height: 250px;
    border-radius: 10px;
    background-color: #FAF5E6;
    transition: 1s;
}

.serv-box:hover {
    transform: scale(1.05);
    background-color: #FD1F4A;
}

.serv-box img{
    width: 50px;
    height: 50px;
    padding: 18px 0px 0px 20px;
}

.serv-box h4{
    padding: 25px 0px 0px 15px;
    margin-left: 12px;
    color:  #2D2C2E;
}

.serv-box p {
    text-align: left;
    margin-right: 15px;
    margin-top: 15px;
    color:  #2D2C2E;
}

.serv1 {
    height: 416px;
    width: 626px;
    margin: 80px 60px 0px 0px;
    border-left: 5px solid black;
    background-image: url(image/delivey.png);
}

/*BRANDS-SECTION-4*/

/*CARD-SECTION-1*/
.card-section {
    height: 250px;
    border-top: 60px solid #FAF5E6;
    border-left: 100px solid #FD1F4A;
    border-right: 100px solid #FD1F4A;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: #2D2C2E;
    padding-top: 50px;
}

/*CARD-SECTION-2*/
.card-section1 {
    border-left: 100px solid #FD1F4A;
    border-right: 100px solid #FD1F4A;
    height: 250px;
    display: flex;
    flex-wrap: wrap;
    background-color: #2D2C2E;
    padding-top: 50px;
}

.card {
    position: relative;
    width: 200px;
    height: 200px;
    transition: 0.5s;
    border-radius: 20px;
    transition-delay: 0.5s;
    margin: 20px;
}
.card:hover {
    width: 300px;
    height: 180px;
    transition-delay: 0.5s;
}
.card .circle {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
  
}
.card .circle::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 200px;
    border-radius: 50%;
 /* border: 8px solid var(--clr); */
    filter: drop-shadow(0 0 5px var(--clr)) ;
    transition: 0.5s, background 0.5s;
    transition-delay: 0.75s,1s;
   /* background: #191919; */
 
}
.card:hover .circle::after {
    transition-delay: 0.5s;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background: var(--clr);
}

.card .circle .logo {
    position: relative;
    width: 150px;
    transition: 0.5s;
    transition-delay: 0.5s; 
    padding: 0px 20px 30px 0px;
}
.card:hover .circle .logo {
    transform: scale(0);
    transition-delay: 0s;
}
.card .product-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0) rotate(315deg);
    height: 300px;
    transition: 0.5s ease-in-out;
}
.card:hover .product-img {
    transition-delay: 0.75s;
    top: 40%;
    left: 76%;
    height: 220px;
    transform: translate(-50%, -50%) scale(1) rotate(15deg);
}
.card .content {
    position: absolute;
    width: 60%;
    padding: 20px 20px 20px 20px;
    opacity: 0;
    transition: 0.5s;
    visibility: hidden;
}
.card:hover .content {
    transition-delay: 0.75s;
    opacity: 1;
    visibility: visible;
    left: 5px;
}
.card .content h2 {
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
}
.card .content p {
    color: #fff;
    font-size: 14px;
    position: relative;
    right: 26px;
}
.card .content  button{
    position: relative;
    top: 12px;
    color: #111;
    border: none;
    background: #fff;
    border-radius: 16px;
    text-decoration: none;
    height: 30px;
    width: 100px;
}

/*CONTACT-NO & EMAIL ID*/
.cont-no {
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;
    background-color: #FFBE00;
}

.info1 {
    margin: 0px 180px 0px 20px;
}

.info2 {
    margin-right: 200px;
}

/*FOOTER-SECTION*/
.foot-container {
    display: flex;
    justify-content: space-around;
    padding: 0px;
    background-color: #FAF5E6;
    height: 160px;
}

.foot {
    margin: 20px 0px 0px 0px;
    padding: 0;
    width: 180px;
}

.foot h3 {
    text-align: start;
    padding-left: 24px;
}

.foot p {
    text-align: start;
}

/*LAST-DIV*/
.last-div {
    background-color: #2D2C2E;
    height: 30px;
    margin-top: 10px;
}



